.card-modal {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__form {
    background-color: $color1;

    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    padding: 20px;

    & input {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $color0;
      background-color: $color1;
      border: 1px solid $color5;
    }

    & button {
      background-color: $color1;
      border: 1px solid $color5;
    }

    & textarea {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid $color5;
    }

    &__close {
      position: absolute;
      right: 10px;
      top: 2%;
    }
  }

  &__details {
    max-width: 500px;

    background-color: $color1;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    &__table-title {
      position: absolute;
      top: 0%;
    }

    & h2 {
      padding-top: 20px;
      margin-bottom: 0px;
    }

    &__footer {
      font-size: 0.8em;
    }

    &__close {
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }
}
