.card-modal {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    // width: 80%;
    // height: 80%;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }

  &__details {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 5%;
    top: 5%;
  }
}
