.custom-selector {
  color: $color3;
  background-color: $color2;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0px 10px;
  border-radius: 5px;
}
