.dragable-card {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 300ms normal;

  &__drag-start {
    visibility: hidden;
    background-color: blue;
    transform: scale(0.8);
  }

  &__drag-over {
    background-color: green;
  }

  &__header {
  }

  &__body {
  }

  &__footer {
  }

  &:active {
  }
}
