.dropable-area {
  height: 96%;
  width: 300px;
  min-width: 300px;
  margin-right: 10px;
  overflow-x: hidden;
  padding: 10px;
  position: relative;
  background-color: $color1;
  border-radius: 10px;

  &__header {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  &__button-new {
    position: absolute;
    right: 5%;
    top: 3%;
  }

  &__cards {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    width: 100%;
    height: 94.5%;
    transition: all 300ms;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0);
    }

    &::-webkit-scrollbar-thumb {
      background: $color4;
      margin-left: 20px;
    }
  }

  &__drag-over {
    background-color: yellow;

    & div:last-child {
      // padding-top: 300px;
    }
  }
}
