.kanban-title {
  height: 35px;
  margin: 0px;
  padding: 0px;
  font-size: 0.95em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color2;
  padding: 0px 10px;
  border-radius: 5px;
}
