.new-table-form {
  display: flex;
  flex-direction: column;
  background-color: $color2;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;

  position: relative;

  & input {
    margin: 10px 0px;
  }

  & select {
    width: 50%;
    margin: 10px auto;
  }

  & button {
    position: absolute;
    bottom: -60px;
    left: 0%;
    width: 100%;
  }
}
