body {
  background: url("./../assets/bg.svg") no-repeat center center fixed;
  font-family: "Roboto", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $color3;
}
